.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(../images/landing_page.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;

  .form-content {
    display: flex;
    flex-direction: column;
    width: 50%;
  }

  .container-form {
    padding: 30px;
    width: auto;
  }

  h5 {
    text-align: center;
    margin-bottom: 30px;
  }

  img {
    width: 128px;
    border-radius: 50%;
    align-self: center;    
  }
}

@media screen and (max-width: 600px) {
  .form-container {
    overflow-y: auto;

    .container-form {
      padding: 20px;
    }

    .form-content {
      width: 100%;
    }

    img {
      margin-top: 150px;
    }
  }
}

@media screen and (max-height: 600px) {
  .form-container {
    overflow-y: auto;

    .container-form {
      padding: 20px;
    }

    .form-content {
      width: 100%;
    }

    img {
      margin-top: 400px;
    }
  }
}