.homepagecontent {
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/landing_page.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: auto;
  height: 100%;

  .content-img {
    border-radius: 50%;
    width: 148px;
    height: 148px;
    align-self: center;
    margin-bottom: 30px;
  }

  p {
    font-size: 1.2rem;
  }

  .btns {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }

  .btn {
    width: 200px;
    height: 50px;
    font-size: 1.1rem;
    border-radius: 5px;

    .btn-link {
      color: white;
      text-decoration: none;
    }
  }

  .btn:first-child:hover {
    background-color: #693f40;
  }

  .btn:last-child:hover {
    background-color: #435eb8;
  }

  .btn:first-child {
    margin-right: 20px;
    background-color: #784143;
    color: #f2f2f2f2;
    border: none;
  }

  .btn:last-child {
    margin-right: 20px;
    background-color: #4569da;
    color: #f2f2f2f2;
    border: none;
  }

  .content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .footer-icons {
    margin: 30px;

    i {
      color: #f2f2f2;
      margin: 0 20px;
      font-size: larger;
    }
  }
}

@media screen and (max-width: 600px) {
  .btns {
    flex-direction: column;
    align-items: center;
  }

  .btn:last-child {
    margin-top: 10px;
  }

  .content {
    margin-top: 60px;
  }
}

@media screen and (max-height: 600px) {
  .btns {
    margin-top: 70px;
    flex-direction: row;
    align-items: center;
  }

  .content {
    margin-top: 80px;
  }

  .footer-icons {
    display: flex;
    justify-content: center;
    margin-top: 100px !important;
  }
}
