.homepagecontent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  flex: 1 1 auto;
  background: url(../images/landing_page.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  p {
    font-size: 1.2rem;
  }

  .btns {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }

  .btn {
    width: 200px;
    height: 50px;
    font-size: 1.1rem;
    border-radius: 5px;
  }

  .btn:first-child {
    margin-right: 20px;
    background-color: #784143;
    color: #f2f2f2f2;
    border: none;
  }

  .btn:last-child {
    margin-right: 20px;
    background-color: #4569DA;
    color: #f2f2f2f2;
    border: none;
  }

  .content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .footer-icons {
    margin: 30px;

    i {
      color: #f2f2f2;
      margin: 0 20px;
      font-size: larger;
    }
  }
}

@media screen and (max-width: 600px) {
  .btns {
    flex-direction: column;
    align-items: center;
  }

  .btn:last-child {
    margin-top: 10px;
  }
}