.nav-header {
  display: flex;
  background-color: 	#211a23;
  height: 60px;
  align-items: center;
  padding: 0 40px;

  a {
    font-size: 20px;
    text-decoration: none;
    padding-left: 20px;
    color: #e0e0e0;
  }

  .nav-header-link:first-child {
    margin-right: auto;
    padding-left: 0px !important;
  }

  .icon {
    color: #e0e0e0;
    display: none;
  }

  .footer-icons {
    align-self: flex-end;
  }
}

@media screen and (max-width: 600px) {
  .nav-header a:not(:first-child) {
    display: none;
  }
  .nav-header a.icon {
    display: block;
  }

  .nav-header {
    padding: 0 10px;
  }
}

@media screen and (max-width: 600px) {
  .nav-header.responsive {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: auto;
  }
  .nav-header.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 10px;
  }
  .nav-header.responsive a {
    display: block;
    padding: 10px 0; 
  }
}
