.portfolio {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/landing_page.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: auto;
  height: 100%;

  .heading {
    margin-top: 40px;
    margin-bottom: 20px;
    font-weight: 700;
  }
  
  .sub-heading {
    font-size: 20px;
  }

  .portfolio-card {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-row-gap: 40px;
    grid-column-gap: 20px;
  }

  .footer {
    margin-top: 60px;
    padding-bottom: 40px;

    p,
    h3 {
      text-align: center;
    }

    h3 {
      font-weight: 700;
    }

    a:hover {
      text-decoration: none;
    }
  }
}
