.portfolio-card {
  .card-content:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }

  .card-content {
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    padding-bottom: 20px;
    background-color: white;
    color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;

    img {
      border-radius: 5px 5px 0 0;
      width: 331px;
      height: 185px;
    }

    h5 {
      margin-top: 20px;
      margin-bottom: 0;
      margin-left: 10px;
      margin-right: 10px;
    }

    .tech-used {
      margin-left: 10px;
      margin-right: 10px;
      span {
        margin-right: 5px;
      }
    }

    .card-foot {
      display: flex;
      justify-content: space-between;
      padding: 0;
      margin-top: 30px;
      margin-left: 10px;
      margin-right: 10px;
      height: 100%;
      align-items: flex-end;

      a {
        background-color: green;
        color: white;
        font-size: 12px;
        padding: 5px 10px;
        border-radius: 5px;
      }

      a:hover {
        text-decoration: none;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .portfolio-card {
    display: grid;
    grid-template-columns: repeat(1, 100%) !important;
    grid-column-gap: 20px;

    .card-content {
      img {
        border-radius: 5px 5px 0 0;
        width: 100%;
      }
    }
  }
}

@media screen and (max-height: 600px) {
  .portfolio-card {
    display: grid;
    grid-template-columns: repeat(2, 50%) !important;
    grid-column-gap: 20px;

    .card-content {
      img {
        width: 100%;
        border-radius: 5px 5px 0 0;
      }
    }
  }
}
